.library{
    background-color: #312539;
}

.fon{
    height: 500px;
    background-size: cover;
    background-image: url('../../image/back.jpg');
    background-attachment: fixed;
}

.quantity{
    font-size: 20px;
}

.book-form{
    display: flex;
    justify-content: space-between;
}
