@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi:ital@1&display=swap');

img{
  width: 100%;
}

input{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

button{
  border: 2px solid rgb(7, 48, 46);
  color: rgb(7, 48, 46);
  border-radius: 15px;
  background-color: #fff;
  width: 150px;
  height: 35px;
  cursor: pointer;
  padding: 10px;
}

button:hover{
  background-color: rgb(7, 48, 46);
  color: #fff;
}

.container{
  width: 90%;
  margin: auto;
}

.image{
  width: 10%;
  margin-right: 20px;
}