@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body{
  color: #fff;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

img{
  width: 100%;
}

input{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

button{
  width: 150px;
  height: 35px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  color: #3F3349;
  border-radius: 15px;
  background-color: #fff;
  text-transform: uppercase;
  border: 2px solid #3F3349;
  font-family: 'Rubik', sans-serif;
}

button:hover{
  background-color: #3F3349;
  color: #fff;
  box-shadow: 2px 2px 2px #000;
}

.container{
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
}

.image{
  width: 100px;
  height: 150px;
  overflow: hidden;
  margin-right: 20px;
  box-shadow: -5px 5px 12px 0px #000;
  border-radius: 5px;
}

.crud-button{
  width: 50px;
  margin-bottom: 15px;
}